html, body {
  margin: 0;
  padding: 0;
}

.frame {
  background-color: #c0c0c0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #c0c0c0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.frame .menu-superior {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #acacac;
}

.frame .ambientes-sala-de-m {
  position: absolute;
  top: center;
  left: 725px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #3f3f3f;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .install-logo {
  position: absolute;
  width: 279px;
  height: 66px;
  top: 17px;
  left: 1591px;
}

.frame .friato-alimentos-sem {
  position: absolute;
  width: 154px;
  height: 83px;
  top: 8px;
  left: 50px;
  object-fit: cover;
}

.frame .overlap-group {
  position: absolute;
  width: 1369px;
  height: 645px;
  top: 186px;
  left: 275px;
  background-color: #d9d9d9;
  
}

.frame .rectangle-2 {
  position: relative;
  width: 1157px;
  height: 545px;
  top: 50px;
  left: 106px;
  background-color: #f1f1f1;
}

.frame .campo-nome {
  position: absolute;
  width: 439px;
  height: 33px;
  top: 145px;
  left: 275px;
  background-color: #d9d9d9;
  border-radius: 15px;
}

.frame .campo-data {
  position: absolute;
  width: 215px;
  height: 33px;
  top: 145px;
  left: 725px;
  background-color: #d9d9d9;
  border-radius: 15px;
}

.frame .botao-confirma {
  position: absolute;
  width: 83px;
  height: 33px;
  top: 145px;
  left: 955px;
  background-color: #d9d9d9;
  border-radius: 15px;
}

.frame .div-wrapper {
  position: absolute;
  width: 83px;
  height: 35px;
  top: 844px;
  left: 1560px;
  background-color: #575151;
  border-radius: 15px;
}


/* Estilos gerais para inputs */
input {
  padding: 5px 10px;
  border: 1px solid #3F3F3F; 
  border-radius: 5px;
  font-family: "Inter", sans-serif; /* Ajuste conforme necessário */
  font-size: 16px;
}

select {
  padding: 5px 10px;
  border: 1px solid #3F3F3F; 
  border-radius: 5px;
  font-family: "Inter", sans-serif; /* Ajuste conforme necessário */
  font-size: 16px;
}

/* Estilizando o campo-nome */
.frame .campo-nome select {
  display: block;
  width: 100%; /* Subtrai a padding para evitar overflow */
  height: 35.09px;
  margin: auto;
  background-color: #d9d9d9;
  color: #3F3F3F;

}

/* Estilizando o campo-data */
.frame .campo-data input {
  display: block;
  width: calc(100% - 20px); /* Subtrai a padding para evitar overflow */
  height: 70%;
  margin: auto;
  background-color: #d9d9d9;
  color: #3F3F3F;
}
.frame .botao{
  position: absolute;
  background-color: #d9d9d9;
  border-radius: 5px;
  width: 83px;
  height: 35px;
}

.frame .gerarPdf{
position: absolute;
background-color: #d9d9d9;
border-radius: 5px;
width: 83px;
height: 35px;
}
